.create-post {
    display: contents !important;
    color: #654321 !important;
    cursor: pointer !important;
}

.create-post-form {
    width: 80%;
}

.text-truncate-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Limit to 2 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.post-card-btn {
    width: auto;
}

.img-div {
    text-align: center;
}

.img-div img {
    height: 80vh;
}

.card-img {
    max-height: 40vh;
}

